<footer class="bg-light py-4 mt-auto border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Контактная информация</h5>
        <ul class="list-unstyled">
          <li><strong>Адрес:</strong> г. Москва, ул. Примерная, д. 10</li>
          <li><strong>Телефон:</strong> +7 (495) 123-45-67</li>
          <li><strong>Email:</strong> info@medcomfort.ru</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Карта сайта</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'main:index' %}" class="text-dark">Главная</a></li>
          <li><a href="#" class="text-dark">Услуги</a></li>
          <li><a href="#" class="text-dark">Врачи</a></li>
          <li><a href="#" class="text-dark">Клиники</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Мы в соцсетях</h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://t.me/" class="text-dark text-decoration-none" target="_blank">
              <i class="fa-brands fa-telegram"></i> Telegram
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://instagram.com/" class="text-dark text-decoration-none" target="_blank">
              <i class="fa-brands fa-vk"></i> VK
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.whatsapp.com/" class="text-dark text-decoration-none" target="_blank">
              <i class="fa-brands fa-square-whatsapp"></i> Whatsapp
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-3">
      <p class="mb-0">© 2024 Мед комфорт. Все права защищены.</p>
      <p class="mb-0">Разработчик: Полодашвили Иосиф</p>
    </div>
  </div>
</footer>
