{% extends "base.html" %}

{% block title %}Восстановление пароля завершено{% endblock %}

{% load custom_filters %}

{% block content %}
  <div class="container d-flex flex-grow-1 justify-content-center align-items-center">
    <div class="card m-auto w-100" style="max-width: 600px;">
      <div class="card-header">
        Восстановление пароля завершено
      </div>
      <div class="card-body">
        <p>Ваш пароль был сохранен. Теперь вы можете войти.</p>
        <a href="{% url 'users:login' %}">Войти</a>
      </div>
    </div>
  </div>
{% endblock %}